body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #181818;
    color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.challenges {
    text-align: center;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.box {
    flex-basis: calc(33.33% - 40px);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 15px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1d;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: translateY(-10px);
}

.box img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .box {
        flex-basis: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .box {
        flex-basis: calc(100% - 40px);
    }
}


.box-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.box-button:hover {
    background-color: #555;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



footer {
    margin-top: auto;
    padding: 20px 0;
    background-color: #181818;
    text-align: center;
    color: #fff;
}

.footer-content {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-links a {
    color: #fff;
    font-size: 24px; 
    margin: 0 10px; 
    transition: color 0.3s; 
}

.social-links a:hover {
    color: #ffcc00;
}

.social-icon {
    text-decoration: none;
}

.designer-link {
    color: #FF6400;
    text-decoration: none;
    font-weight: bold;
}

.designer-link:hover {
    text-decoration: underline;
}
